
@import "./utils/variables";
@import "./components/header";
@import "./components/mobile-menu";
@import "./components/index-main";
@import "./components/footer";
@import "./components/modal";
@import "./components/porfolio-main";

.body {
    font-family:'Roboto', sans-serif ;
    color: var(--primary-color);
     }
    
     .list {
      list-style: none;
      margin:0;
      padding:0;
    }
    
    .icons {
      fill:currentColor;
    }
    
    .container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: auto;
    }
     
    .section {
      margin-top: 94px;
      margin-bottom: 94px;
    }